<div id="header-sct">
    <a id="site-name">
        <h1>Kitchen</h1>
        <h1>Magic</h1>
    </a>
    <div id="nav-sm">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor='let menuItem of menuItems' mat-menu-item outerLink='/404'>{{menuItem}}</button>
            <button mat-menu-item outerLink='/404'>Contact</button>
        </mat-menu>
    </div>
    <div id="nav-lg">
        <button *ngFor='let menuItem of menuItems' mat-button class='menu-button' routerLink='/404'>{{menuItem}}</button>
    </div>
    <div id="contact">
        <button mat-flat-button color="accent">
            Contact
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>