#nav-sm{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#nav-lg{
    display: none;
}

#contact{
    display: none;
}

@media (min-width: 992px) { 
    #nav-lg{
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    #nav-sm{
        display: none;
    }

    #contact{
        display: flex;
        justify-content: flex-end;
    }
}