<div id="content-sct" class="d-flex flex-wrap h-100 flex-column">
  <div id="header-sct" class="d-flex flex-column w-100 p-3">
    <div class="d-flex p-1">
      <a class="d-flex flex-row">
        <h3>Kitchen</h3>
        <h3 class="font-weight-light">Magic</h3>
      </a>
      <div id="nav-sm">
        <div class="dropdown">
          <button class="btn bg-transparent text-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars fa-lg"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item">About Us</button>
            <button class="dropdown-item">Menu</button>
            <button class="dropdown-item">Reservation</button>
            <button class="dropdown-item">News and Events</button>
            <button class="dropdown-item">Gallery</button>
          </div>
        </div>
      </div>
      <div id="nav-lg">
        <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">About Us</button>
        <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">Menu</button>
        <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">Reservation</button>
        <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">News and Events</button>
        <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">Gallery</button>
      </div>
      <div id="contact">
        <button class="btn font-weight-bold btn-warning">
          Contact
          <i class="far fa-comment-dots pl-2 fa-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="welcome-sct">
    <h6>Cafe and Restaurant</h6>
    <h1>Kitchen Magic</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illo, alias animi iusto neque, sint corrupti? Laudantium, dignissimos id excepturi facilis, facere saepe quasi placeat praesentium ipsa sapiente illo molestiae?</p>
    <button class="font-weight-bold btn btn-warning align-self-center">Make Reservation</button>
  </div>
  <div id="social-sct" class="d-flex w-100 p-3 justify-content-center">
    <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">
      <i class="fab fa-instagram fa-2x"></i>
    </button>
    <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">
      <i class="fab fa-twitter fa-2x"></i>
    </button>
    <button class="border-0 font-weight-bold align-self-end mr-2 btn btn-outline-light">
      <i class="fab fa-facebook-f fa-2x"></i>
    </button>
  </div>
</div>