#content-sct{
    background-color: rgba(0, 0, 0, 0.6);
}

#nav-sm{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#nav-lg{
    display: none;
}

#contact{
    display: none;
}

#welcome-sct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: auto;
    text-align: center;
}

@media (min-width: 992px) { 
    #nav-lg{
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    #nav-sm{
        display: none;
    }

    #contact{
        display: flex;
        justify-content: flex-end;
    }

    #welcome-sct{
        justify-content: center;
        flex-grow: 1;
        width: 75%;
        text-align: center;
        margin: auto;
    }
}