#welcome-sct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: auto;
    text-align: center;
    height: 100%;
}

#welcome-txt{
    width: 85% !important;
}

@media (min-width: 992px) { 
    #welcome-txt{
        width: 50% !important;
    }
}