#welcome-sct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: auto;
    text-align: center;
    height: 100%;
}

@media (min-width: 992px) { 
    #welcome-sct{
        justify-content: center;
        flex-grow: 1;
        width: 75%;
        text-align: center;
        margin: auto;
        height: 100%;
    }
}