#content-sct{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
}

app-welcome {
    display: flex;
    align-content: center;
    flex-grow: 1;
}